@import "_normalize";
// @import "_variables";
// @import "famousPeople";
// @import "forms";
@keyframes colorChange{
  0%{
    background-color: hotpink;
    color: red;
  }
  25%{
    background-color: rgb(209, 235, 62);
    color: white;
  }
  50%{
    background-color: rebeccapurple;
    color: green;
  }
  75%{
    background-color: rgb(17, 189, 26);
    color: blue;
  }
  100%{
    background-color: hotpink;
    color: red;
  }
}
@keyframes move{
  from{transform: translate(0, 0)};
  to{transform: translate(-30px, -30px)};
}
@keyframes rotating{
  from{transform: rotate(0)};
  to{transform: rotate(180deg)};
}
$greenColor: rgb(101, 216, 151);

#editor__link{
  text-decoration: none;
  color:black;
  font-weight: 600;
}
body{
  
  max-width: 960px;
  margin: 0 auto;
}
html{
  background-color: rgb(190, 187, 187);
  font-family: Arial, Helvetica;
  
 
}

.bold {
  color: brown;
  font-size: 22px;
}
.bolder{
  color:tomato;
  font-size: 21px;
}
.button{
  display: flex;
  flex-direction: row;
  justify-items: center;
  justify-content: center;
}
.buttonWraper{
  background: $greenColor;
}
.buttonAnimated{
  background-color: hotpink;
  border-radius: 10px;
  width: 130px;
  height: 80px;
  border: none;
  margin-right: 15px;
  animation: colorChange 4s infinite;
  &__move{
  animation: move 1s infinite;
  }
  &__rotate{
    color: yellowgreen;
    background-color: black;
    animation: rotating 5s ease-in-out infinite alternate;
  }
}
.buttonTransition{
  background-color: gray;
  border-radius: 10px;
  width: 130px;
  height: 80px;
  border: none;
  margin-right: 15px;
  transition: background-color .5s linear, color .6s ease-in-out;
  
  &:hover{
    background-color: greenyellow;
    color: white;
  }
}
  .buttonTransition__willChange{
      background-color: gray;
      border-radius: 10px;
      width: 130px;
      height: 80px;
      border: none;
      transition: background-color .5s linear, color .6s ease-in-out;
      will-change: background-color;
        &:hover{
          background-color: greenyellow;
          color: white;
          width: 130px;
          height: 80px;
          border: none;
        }
      }

.buttonTransform{
  
  &__rotate{
  width: 130px;
  height: 80px;
  border: none;
  border-radius: 10px;
  margin-right: 15px;
  background-color: aqua;
  transition: transform .7s linear;
  &:hover{
    transform: rotate(180deg);
    }
  }
  &__scale{
    width: 130px;
    height: 80px;
    border: none;
    border-radius: 10px;
    margin-right: 15px;
    background-color: rgb(89, 91, 224);
    transition: transform .7s linear;
    &:hover{
      transform: scale(2);
      }
  }
  &__move{
    width: 130px;
    height: 80px;
    border: none;
    border-radius: 10px;
    margin-right: 15px;
    background-color: rgb(238, 241, 10);
    transition: transform .7s linear;
    &:hover{
      transform: translateX(20px) translateY(-20px);
      
      }
  }    
}



.code{
  background-color: black;
  color: white;
  font-weight: 100;
  line-height: 1.5;
  font-family: Helvetica, sans-serif;
  padding-left: 15px;
  box-shadow: 7px 7px 8px black;
  
  &__const{
    color: aqua;
  }
  &__querySelector{
    color: yellowgreen;
  }
  &__class{
    color: tomato;
  }
  &__method{
    color: rgb(243, 243, 71);
  }
  &__comment{
    color: rgb(81, 153, 81);
  }
}

.flexBox{
  display: flex;
  flex-direction: column;
  // justify-content: center;
  // align-items: center;
  justify-items: center;
}
.form{
  display: flex;
  flex-direction: column;
  align-items:center;
}

.grid{
  display: grid;
  grid-template-columns: 2fr 2fr 30px 1fr;
  grid-template-rows: repeat(4, minmax(150px,auto));
  // border: solid white 1px;
  grid-gap: 10px;
  color: white;
  text-align: center;

}
.header1{
  text-align: center;
}
.hover__header {
  text-align: center;
    &:hover{
      color: tomato;
    }
}

.input {
  font-weight: bold;
  margin-left: 10px;
  &:focus{
    border: red 2px solid;
    background: greenyellow;
  }
}


.list {

  font-weight: bold;
  min-width: 40%;
}

.list__box {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.listItem {
  font-weight: normal;
}

.listItem:first-child {
  background: red;
}

.listItem:last-child {
  background: greenyellow;
  
}
.localStorage{
  &__list{
    list-style: none;
    font-size: 20px;
    padding-left: 5px;
    & li{
      padding-bottom: 10px;
    }
    & li::first-letter{
      font-size: 24px;
      background: tomato;
    }
  }
  
}
.main__header{
  text-align: center;
}

.mainNavigation{
  grid-column: 1/3;  
  background: $greenColor;
  
  
    &__list{
      
      display: flex;
      list-style: none;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-around;
      
    }
    
    &__link{
      text-decoration: none;
      color:white;
      font-weight: 700;
      // padding: 0 50px;

      &:hover{
        color: tomato;
      }
    }
    
  }
  
.mainNavigation__list--js{

}

.navbox{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;

  &--js{

  }

}

.image{
  position: relative;
  // left: 50px;
  // flex-direction: column;
  // flex-wrap: wrap;
  // justify-content: center;
  // align-items: center;
      &--shadow{
        box-shadow: 7px 7px 8px black;
        margin-bottom: 30px;
      }
      &__box{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
      }
  
}
.img{
  &__scale{
    box-shadow: 7px 7px 8px black;
    transition: transform .7s linear;
    width: 130px;
    &:hover{
      transform: scale(1.5);
    }
  }
}
  
.siteHeader{
  
  background: rgb(101, 216, 151);
  grid-column: 1/5;

  &__mobileMenu{
    display: none;
    flex-direction: row;
    justify-content:center; 
  }
}
.articles{
  background: rgb(101, 216, 151);
  grid-column: 1/4;
  grid-row: 2/4;
  &__grid{
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: repeat(4, minmax(100px, auto));
    grid-gap: 8px 8px;
    margin: 0 10px 10px 0;  
  }
  &__photo{
    align-self: center;
  justify-self: center;
    &--round{
      border-radius: 50%;
    }
}
  
  &__text{
    display: flex;
    flex-direction: column;
    background: rgba(149, 33, 179, 0.7);
    border-radius: 20px;

    &--paragraph{
      text-align: justify;
      padding: 20px 15px 5px 20px;
      margin: 0;
      line-height: 1.5;
      letter-spacing: 2px;
       &::first-letter{
         padding-left: 20px;
        font-size: 22px;
        font-weight: bold;
       } 
    
    }

    &--link{
      align-self: flex-end;
      padding: 15px;
      text-decoration: none;
      color: white;
      font-weight: 500;
      &:hover{
        color: tomato;
      }
    
    }  
  }

}

.second__header{
  text-align: center;
  font-weight: 900;
  font-size: 30px;
}
.sidebar{
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(101, 216, 151);
  grid-column: 4/5;
  grid-row:2/4;
      &__navigation{
        list-style: none;
        
      }
      &__paragraph{
        font-size: 22px;
        letter-spacing: 5px;
        
        text-align: center;
        align-self: center;

      }
}
.sidebarNavigation__list{
  padding-inline-start: 0;
  padding-left: 15px;
  list-style: none;
  
}
.sidebarNavigation__items--noStyle{
  padding-bottom: 15px;
}
.sidebarNavigation__link{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 15px;

  &--noStyle{
    text-decoration: none;
    font-weight: 800;
    color:white;
    letter-spacing: 2px;
    margin-right: 5px;
    &:hover{
      color:tomato;
    }  
}
    &--mobile{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

    }
}

span{
  min-width: 102px;
}
.navigation__items{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-inline-start: 0;
 
  &--noStyle{
    list-style: none;
    padding: 10px 10px;
  }
}

.four{
  background: rgb(101, 216, 151);
  grid-column: 4/5;;
  grid-column: 1/5;
  grid-row: 4/5;
  
}
.five{
  background: rgb(101, 216, 151);
  grid-row: 4/5;
  
}
.six{
  background: hotpink;
  grid-row: 4/5;
  grid-column: 3/5;
}
.link__menu{
  text-decoration: none;
  color: white;
  &:hover{
    color: tomato;
  }
 
}
.menu__button{
  position: absolute;
  right: 5px;
  color: white;
  border: none;
  background: none;
  width: 40px;
  height: 40px;
  font-size: 30px;
  font-weight: bold;
  margin: 0 20px;
  
  &--js{

  }
  &:hover{
    color:tomato;

  }
}


.navigation{
  background: rgb(101, 216, 151);
  /* border-style: solid; */
  border-radius: 20px;
  margin: 0 10px;

}
.navigationList{
  display: none;
  &--js{
    list-style: none;
  }
  &--visible{
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 15px 15px;
  

  }
}

.paragraph{
  font-size: 18px;
  text-align: justify;
  padding: 0 5px;

      &__box{
        padding-left: 10px;
      }
      &::first-letter{
      font-size: 24px;
      background: tomato;
      text-align: justify;

      }
}
.border{
  border: 2px white solid;
  padding: 0 10px;
    &--black{
      border: black solid;
    }
}

@media (min-width: 641px){
  
  #button{
    display: none;
   }  
}
@media (max-width: 640px){
 
  .articles{
   grid-column: 1/5;
   &__photo{
     display: none;
   }
   &__text{
     grid-column: 1/5;
   }
  
 }

  .mainNavigation{
   
      &__list{
        flex-direction: column;
        display: none;
        color: white;
        // element --visible musi chyba być w tym mediaquery inaczej nie działa!!!
          &--visible{
            display: flex;
            flex-direction: column;
            list-style: none; 
          }
      
      }


  }
  .paragraph{
    width: 467px;
  }
  .siteHeader__mobileMenu{
    display: flex;
  }
  
  .sidebar{
    display: none;
  }
  .image{
    position: relative;
    left: 55px;
    
  }
  }