@import "_normalize";
// @import "_variables";
// @import "famousPeople";
// @import "forms";



html{
  background-color: rgb(190, 187, 187);
  font-family: Arial, Helvetica;
 
  
}

body{
  max-width:960px;
  margin: 0 auto;
  padding-top: 50px;
  background: tomato;
  
 
.bold {
  color: brown;
  font-size: 22px;
}
.bolder{
  color:tomato;
  font-size: 21px;
}
.grid{
  display: grid;
  grid-template-columns: 2fr 2fr 30px 1fr;
  grid-template-rows: repeat(4, minmax(150px,auto));
  // border: solid white 1px;
  grid-gap: 10px;
  color: white;
  text-align: center;

}
.header1{
  text-align: center;
}
.hover__header {
  text-align: center;
    &:hover{
      color: tomato;
    }
}

.input {
  font-weight: bold;
  &:focus{
    border: red 2px solid;
    background: greenyellow;
  }
}



.list {

  font-weight: bold;
  min-width: 40%;
}

.list__box {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.listItem {
  font-weight: normal;
}

.listItem:first-child {
  background: red;
}

.listItem:last-child {
  background: greenyellow;
  
}
.mainNavigation{
  background: rgba(172, 255, 47, 0.603);
  margin: 0;
  padding: 0 30px;
  position: fixed;
  top: 0;

  width: 960px;
  
    &__list{
      display: flex;
      list-style: none;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      padding-inline-start: 0;
      padding: 0 50px; 
      
      
    }

    &__link{
      text-decoration: none;
      color: black;
      font-weight: 700;
      padding: 0 50px;

      &:hover{
        color: tomato;
      }
    }

}
.image{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
      &--shadow{
        box-shadow: 7px 7px 8px black;
        margin-bottom: 30px;
      }
      &__box{
        display: flex;
        flex-direction: column;
        align-items: center;
      }
  
}

  
.one{
  
  background: rgb(101, 216, 151);
  grid-column: 1/5;
}
.articles{
  background: rgb(101, 216, 151);;
  grid-column: 1/4;
  grid-row: 2/4;
  &__grid{
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: repeat(4, minmax(100px, auto));
    grid-gap: 8px 8px;
    margin: 0 10px 10px 0;  
  }
  &__photo{
    align-self: center;
  justify-self: center;
    &--round{
      border-radius: 50%;
    }
}
  
  &__text{
    display: flex;
    flex-direction: column;
    background: rgba(149, 33, 179, 0.7);
    border-radius: 20px;

    &--paragraph{
      text-align: justify;
      padding: 20px 15px 5px 20px;
      margin: 0;
      line-height: 1.5;
      letter-spacing: 2px;
       &::first-letter{
         padding-left: 20px;
        font-size: 22px;
        font-weight: bold;
       } 
    
    }

    &--link{
      align-self: flex-end;
      padding: 15px;
      text-decoration: none;
      color: white;
      font-weight: 500;
      &:hover{
        color: tomato;
      }
    
    }  
  }

}






.sidebar{
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(101, 216, 151);
  grid-column: 4/5;
  grid-row:2/4;
      &__navigation{
        list-style: none;
        
      }
      &__paragraph{
        font-size: 22px;
        text-align: center;
        align-self: center;

      }
}
.sidebarNavigation__list{
  padding-inline-start: 0;
  padding-left: 15px;
  list-style: none;
  
}
.sidebarNavigation__items--noStyle{
  padding-bottom: 15px;
}
.sidebarNavigation__link{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 15px;

  &--noStyle{
    text-decoration: none;
    font-weight: 800;
    color:white;
    letter-spacing: 2px;
    &:hover{
      color:tomato;
    }
}
}
.navigation__items{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-inline-start: 0;
 
  &--noStyle{
    list-style: none;
    padding: 10px 10px;
  }
}

.four{
  background: rgb(101, 216, 151);
  grid-column: 4/5;;
  grid-column: 1/5;
  grid-row: 4/5;
  
}
.five{
  background: rgb(101, 216, 151);
  grid-row: 4/5;
  
}
.six{
  background: hotpink;
  grid-row: 4/5;
  grid-column: 3/5;
}
.link__menu{
  text-decoration: none;
  color: white;
  &:hover{
    color: tomato;
  }
 
}
.menu__button{
  border: none;
  background: none;
  width: 40px;
  height: 40px;
  font-size: 30px;
  font-weight: bold;
  margin: 0 20px;
  
  &--js{

  }
  &:hover{
    color:white;

  }
}


.navigation{
  background: rgb(101, 216, 151);
  /* border-style: solid; */
  border-radius: 20px;
  margin: 0 10px;
  
  
  
}
.navigationList{
  display: none;
  &--js{
    list-style: none;
  }
  &--visible{
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 15px 15px;
  

  }
}

.paragraph{
  font-size: 18px;
  text-align: justify;
      &__box{
        padding-left: 10px;
      }
      &::first-letter{
      font-size: 24px;
      background: tomato;
      text-align: justify;

      }
}
.border{
  border: 2px white solid;
  padding: 0 10px;
    &--black{
      border: black solid;
    }
}
}